name: exam_schedule_app
description: A simple exam schedule Flutter app for the lab
publish_to: "none"

environment:
  sdk: ">=2.18.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  intl: ^0.17.0

flutter:
  uses-material-design: true
